EQUEXP -> ADDEXPRES compare ADDEXPRES
ADDEXPRES -> MULTEXP addit MULTEXP
MULTEXP -> PRIMARY mult PRIMARY
PRIMARY -> op EXPRESSION cp
PRIMARY -> NUMBER
PRIMARY -> VAR
NUMBER -> int
NUMBER -> real
NUMBER -> bool
VAR -> id
LOGICEXP ->  EQUEXP logic  EQUEXP
PRIMARY -> MATROPER
MATROPER -> height op VAR cp
MATROPER -> weight op VAR cp
MATROPER -> transpose op VAR cp
EXPRESSION -> TERNARYEXP
TERNARYEXP -> LOGICEXP qto LOGICEXP cto LOGICEXP
TERNARYEXP -> LOGICEXP
LOGICEXP ->  EQUEXP
EQUEXP -> ADDEXPRES
ADDEXPRES -> MULTEXP
MULTEXP -> PRIMARY