METHODBODY -> OPERATOR
METHODBODY -> OPERATOR return scolon
METHODBODY -> OPERATOR return expression scolon
OPERATOR -> midifer VARDECBODY scolon
OPERATOR -> VARDECBODY scolon
OPERATOR -> expression scolon
OPERATOR -> WHILE scolon
VARDECBODY -> type id init
VARDECBODY -> type id
OPERATOR -> midifer VARDECBODY scolon OPERATOR
OPERATOR -> VARDECBODY scolon OPERATOR
OPERATOR -> expression scolon OPERATOR
OPERATOR -> WHILE scolon OPERATOR
WHILE -> do ob METHODBODY cb while op expression cp
WHILE -> do ob cb while op expression cp