CLASSBODY -> enm id ob ENUMBODY cb
CLASSBODY -> enm id ob cb
CLASSBODY -> modifer type id
CLASSBODY -> modifer type id op METHODPARAM cp ob methodbody cb
CLASSBODY -> modifer type id op cp ob methodbody cb
CLASSBODY -> modifer type id op METHODPARAM cp ob cb
CLASSBODY -> modifer type id op cp ob cb
CLASSBODY -> enm id ob ENUMBODY cb CLASSBODY
CLASSBODY -> enm id ob cb CLASSBODY
CLASSBODY -> modifer type id scolon CLASSBODY
CLASSBODY -> modifer type id op METHODPARAM cp ob methodbody cb CLASSBODY
CLASSBODY -> modifer type id op cp ob methodbody cb CLASSBODY
CLASSBODY -> modifer type id op METHODPARAM cp ob cb CLASSBODY
CLASSBODY -> modifer type id op cp ob cb CLASSBODY
ENUMBODY -> id ENUMELEMS
ENUMBODY -> id
ENUMELEMS -> comma ENUMBODY
CLASSBODY -> modifer type id init scolon
CLASSBODY -> modifer type id init scolon CLASSBODY
METHODPARAM -> type id
NEXTPARAM -> comma METHODPARAM
METHODPARAM -> type id NEXTPARAM